.modal.fade(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" id=`staticBackdrop`)
    .modal-dialog
        .modal-content
            .modal-header
                h1.modal-title.fs-5#staticBackdropLabel New User
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body

                form(method="post" action=`/signup`)
                    .row.mb-3
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input.form-control#inputFirstName(type="text" placeholder="Enter your first name" name='firstName' required)
                                label(for="inputFirstName") First name
                        .col-md-6
                            .form-floating
                                input.form-control#inputLastName(type="text" placeholder="Enter your last name" name='lastName' required)
                                label(for="inputLastName") Last name
                    .row 
                        .col-md-6
                            .form-floating.mb-3
                                input.form-control#inputEmail(type="email" placeholder="name@example.com" name='email' required)
                                label(for="inputEmail") Email address
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input.form-control#inputPhone(type="tel" placeholder="name@example.com" name='phone')
                                label(for="inputPhone") Phone
                                input.form-control#inputPhone(type="hidden" placeholder="password" value='Welcome2023' name='password')

                    .row.mb-3
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                select.form-select(aria-label="Default select example" name='roleId' required)
                                    //- option(selected) #{user.Role.name}
                                    each role in roles
                                        option(value=`${role.id}`) #{role.name}
                                label(for="selectRole") User role
                        .col-md-6
                            .form-floating.mb-3.mb-md-0
                                input.disabled.form-control#inputStatus(type="text" placeholder="User Status" value=`${user.UserStatus.name}`)
                                label(for="inputStatus") Status
                    .mt-4.mb-0
                        .d-grid
                            button.btn.btn-primary.btn-block(type='submit') Save

            //- .modal-footer
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                button.btn.btn-primary(type="button") Understood
