extends layout 
block content 

    ul.list-group.list-group-flush.text-center
        li.list-group-item
            .media
                //- img.mr-3.rounded-circle(src="director.jpg" alt="Director")
                .media-body
                    h5.mt-0 Gibran Mwadime
                    p.mb-0 ICT Director
        li.list-group-item
            .media
                //- img.mr-3.rounded-circle(src="product-manager.jpg" alt="Product Manager")
                .media-body
                    h5.mt-0 Gilbert Kichoi
                    p.mb-0 Concept/Product Manager
        li.list-group-item
            .media
                //- img.mr-3.rounded-circle(src="software-developer.jpg" alt="Software Developer")
                .media-body
                    h5.mt-0 John Mwanyika
                    p.mb-0 Software Developer
