doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        meta(name="description", content)
        meta(name="author", content)
        title Mail Recovery Admin
        //- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        link(href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet")
        //- link(rel="stylesheet" href="/toaster/toastr.css")
        link(href="/css/styles.css" rel="stylesheet")
        script(src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous")
        //- <!-- Axios library -->
        //- script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        //- jquery
        script(src="/javascripts/jquery.min.js")
        //- Toaster
        script(src="/toaster/toastr.js")
        link(rel="stylesheet" href="/toaster/toastr.css")
    body
        include includes/nav

        #layoutSidenav
            #layoutSidenav_nav
                nav.sb-sidenav.accordion.sb-sidenav-dark#sidenavAccordion
                    .sb-sidenav-menu
                        .nav
                            .sb-sidenav-menu-heading Core
                            a.nav-link(href="/dashboard")
                                .sb-nav-link-icon
                                    i.fas.fa-tachometer-alt
                                | Dashboard
                            a.nav-link(href="/dashboard/new_mails")
                                .sb-nav-link-icon
                                    i.fas.fa-file-circle-plus
                                | New Mails
                            a.nav-link(href="/dashboard/reset_mails")
                                .sb-nav-link-icon
                                    i.fas.fa-file-circle-plus
                                | Reset Mails
                            if (user.roleId == 1)
                                a.nav-link(href="/dashboard/users")
                                    .sb-nav-link-icon
                                        i.fas.fa-user-group
                                    | Users
                                a.nav-link(href="/dashboard/imports")
                                    .sb-nav-link-icon
                                        i.fas.fa-file-import
                                    | Import Mails
                            //- For Future Updates
                                .sb-sidenav-menu-heading Interface
                                a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts")
                                    .sb-nav-link-icon
                                        i.fas.fa-columns
                                    | Layouts

                                    .sb-sidenav-collapse-arrow
                                        i.fas.fa-angle-down
                                .collapse#collapseLayouts(aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion")
                                    nav.sb-sidenav-menu-nested.nav
                                        a.nav-link(href="layout-static.html") Static Navigation
                                        a.nav-link(href="layout-sidenav-light.html") Light Sidenav
                                a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages")
                                    .sb-nav-link-icon
                                        i.fas.fa-book-open
                                    | Pages

                                    .sb-sidenav-collapse-arrow
                                        i.fas.fa-angle-down
                                .collapse#collapsePages(aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion")
                                    nav.sb-sidenav-menu-nested.nav.accordion#sidenavAccordionPages
                                        a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth")
                                            | Authentication

                                            .sb-sidenav-collapse-arrow
                                                i.fas.fa-angle-down
                                        .collapse#pagesCollapseAuth(aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages")
                                            nav.sb-sidenav-menu-nested.nav
                                                a.nav-link(href="/login") Login
                                                a.nav-link(href="/register") Register
                                                a.nav-link(href="/reset_pass") Forgot Password
                                        a.nav-link.collapsed(href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError")
                                            | Error

                                            .sb-sidenav-collapse-arrow
                                                i.fas.fa-angle-down
                                        .collapse#pagesCollapseError(aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages")
                                            nav.sb-sidenav-menu-nested.nav
                                                a.nav-link(href="401.html") 401 Page
                                                a.nav-link(href="404.html") 404 Page
                                                a.nav-link(href="500.html") 500 Page
                                .sb-sidenav-menu-heading Addons
                                a.nav-link(href="charts.html")
                                    .sb-nav-link-icon
                                        i.fas.fa-chart-area
                                    | Charts

                                a.nav-link(href="tables.html")
                                    .sb-nav-link-icon
                                        i.fas.fa-table
                                    | Tables

                    .sb-sidenav-footer
                        .small Logged in as:
                        | #{user.firstName} #{user.lastName}

            #layoutSidenav_content

                block content

                footer.py-4.bg-light.mt-auto
                    .container-fluid.px-4
                        .d-flex.align-items-center.justify-content-between.small
                            .text-muted
                                #time
                                    script.
                                        let time = new Date().getFullYear();
                                        $('#time').text('Copyright © TaitaTaveta Directorate of ICT ' + time.toString());

                            div
                                a(href="#") Privacy Policy
                                | ·

                                a(href="#") Terms & Conditions
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        script(src="/js/scripts.js")
        script(src="/javascripts/utilities.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous")
        //- script(src="/assets/demo/chart-area-demo.js")
        //- script(src="/assets/demo/chart-bar-demo.js")
        //- script(src="/assets/demo/chart-pie-demo.js")
        script(src="/js/datatables-simple-demo.js")
        script(src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous")
        
