extends dashLayout
block content 
    main
        .container-fluid.px-4
            h1.mt-4 Dashboard
            ol.breadcrumb.mb-4
                li.breadcrumb-item.active Dashboard
            .row
                .col-xl-3.col-md-6
                    .card.bg-primary.text-white.mb-4
                        .card-body Primary Card
                        .card-footer.d-flex.align-items-center.justify-content-between
                            a.small.text-white.stretched-link(href="#") View Details
                            .small.text-white
                                i.fas.fa-angle-right
                .col-xl-3.col-md-6
                    .card.bg-warning.text-white.mb-4
                        .card-body Warning Card
                        .card-footer.d-flex.align-items-center.justify-content-between
                            a.small.text-white.stretched-link(href="#") View Details
                            .small.text-white
                                i.fas.fa-angle-right
                .col-xl-3.col-md-6
                    .card.bg-success.text-white.mb-4
                        .card-body Success Card
                        .card-footer.d-flex.align-items-center.justify-content-between
                            a.small.text-white.stretched-link(href="#") View Details
                            .small.text-white
                                i.fas.fa-angle-right
                .col-xl-3.col-md-6
                    .card.bg-danger.text-white.mb-4
                        .card-body Danger Card
                        .card-footer.d-flex.align-items-center.justify-content-between
                            a.small.text-white.stretched-link(href="#") View Details
                            .small.text-white
                                i.fas.fa-angle-right
            .row
                .col-xl-6
                    .card.mb-4
                        .card-header
                            i.fas.fa-chart-area.me-1
                            | Area Chart Example

                        .card-body
                            canvas#myAreaChart(width="100%" height="40")
                .col-xl-6
                    .card.mb-4
                        .card-header
                            i.fas.fa-chart-bar.me-1
                            | Bar Chart Example

                        .card-body
                            canvas#myBarChart(width="100%" height="40")
            .card.mb-4
                .card-header
                    i.fas.fa-table.me-1
                    | DataTable Example

                .card-body
                    table#datatablesSimple
                        thead
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tfoot
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tbody
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
                            tr
                                td Garrett Winters
                                td Accountant
                                td Tokyo
                                td 63
                                td 2011/07/25
                                td $170,750
                            tr
                                td Ashton Cox
                                td Junior Technical Author
                                td San Francisco
                                td 66
                                td 2009/01/12
                                td $86,000

                            tr
                                td Colleen Hurst
                                td Javascript Developer
                                td San Francisco
                                td 39
                                td 2009/09/15
                                td $205,500
                            tr
                                td Sonya Frost
                                td Software Engineer
                                td Edinburgh
                                td 23
                                td 2008/12/13
                                td $103,600                                  
                            tr
                                td Michael Bruce
                                td Javascript Developer
                                td Singapore
                                td 29
                                td 2011/06/27
                                td $183,000
                            tr
                                td Donna Snider
                                td Customer Support
                                td New York
                                td 27
                                td 2011/01/25
                                td $112,000