doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Gallery
        link(rel="stylesheet", href="/gallery.css")
        script(src="/gallery.js") 
    body 

        sectio.nav
            h1 GALLERY
            h3.span.loader
                span.m T
                span.m A
                span.m I
                span.m T
                span.m A
                span.m T
                span.m A
                span.m V
                //- span.m &nbsp;
                span.m E
                span.m T
                //- span.m &nbsp;
                span.m A
                span.m &nbsp;
                span.m C
                span.m O
                span.m U
                span.m N
                span.m T
                span.m Y
                //- span.m L
                //- span.m O
                //- span.m G
                //- span.m I
                //- span.m E
                //- span.m S
        //-     .nav-container
        //-         a.nav-tab(href="#tab-svelte") SVELTE
        //-         a.nav-tab(href="#tab-esbuild") ESBUILD
        //-         a.nav-tab(href="#tab-next") NEXT.JS
        //-         a.nav-tab(href="#tab-typescript") TYPESCRIPT
        //-         a.nav-tab(href="#tab-vite") VITE
        //-         span.nav-tab-slider
        //- main.main
        //-     section#tab-svelte.slider
        //-         h1 SVELTE
        //-         h2 another frontend JS framework
        //-     section#tab-esbuild.slider
        //-         h1 ESBUILD
        //-         h2 an extremely fast JavaScript bundler
        //-     section#tab-next.slider
        //-         h1 NEXT.JS
        //-         h2 framework for Production
        //-     section#tab-typescript.slider
        //-         h1 TYPESCRIPT
        //-         h2 giving you better tooling at any scale
        //-     section#tab-vite.slider
        //-         h1 VITE
        //-         h2 a frontend build tool
        //- canvas.background

        //- <!-- SGVsbG8hIE15IG5hbWUgaXMgU2FyYSBNYXphbC4gV2VsY29tZSB0byBteSBDb2RlUGVuIQ== -->
