extends layout
block content
    form(action="/mails/user" method="post")
        .form-floating.mb-3
            select.form-select#floatingSelect(aria-label="Floating label select example" name='department')
                //- option(value='') select department
                each dep in data
                    option(value=`${dep.id}`) #{dep.name}
            label(for="floatingSelect") Select Department

        .form-floating.mb-3
            input(type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name", required)
            label(for="firstName") First Name
        .form-floating.mb-3
            input(type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name", required)
            label(for="lastName") Last Name
        //- .form-floating.mb-3
        //-     input(type="email" class="form-control" id="email" name="email" placeholder="Email", required)
        //-     label(for="email") Email
        button(type="submit" class="btn w-100 mt-3",style="background:#E37326;color:white")
            i.fa.fa-paper-plane.me-2
            | Submit 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js")
