extends dashLayout 
block content
    main
        .container-fluid.px-4
            h1.mt-4 #{title}
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href="index.html") Dashboard
                li.breadcrumb-item.active #{title}
            .card.mb-4
                .card-body
                    form.d-flex.align-items-center.justify-content-center(action="/dashboard/import-mails", method="POST", enctype="multipart/form-data")
                        .form-group
                            label(for="file") Choose CSV File 
                            input.form-control-file#file(type="file", name="file", accept=".csv", required)
                        button.btn.btn-primary(type="submit") Upload

            .card.mb-4
                .card-header
                    i.fas.fa-table.me-1
                    | Newly imported mails

                .card-body
                    table#datatablesSimple
                        thead
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tfoot
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tbody
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800

                            tr
                                td Michael Silva
                                td Marketing Designer
                                td London
                                td 66
                                td 2012/11/27
                                td $198,500
                            tr
                                td Paul Byrd
                                td Chief Financial Officer (CFO)
                                td New York
                                td 64
                                td 2010/06/09
                                td $725,000
                            tr
                                td Gloria Little
                                td Systems Administrator
                                td New York
                                td 59
                                td 2009/04/10
                                td $237,500
                            tr
                                td Bradley Greer
                                td Software Engineer
                                td London
                                td 41
                                td 2012/10/13
                                td $132,000

                            tr
                                td Angelica Ramos
                                td Chief Executive Officer (CEO)
                                td London
                                td 47
                                td 2009/10/09
                                td $1,200,000
                            tr
                                td Gavin Joyce
                                td Developer
                                td Edinburgh
                                td 42
                                td 2010/12/22
                                td $92,575
