extends dashLayout 
block content
    main
        .container-fluid.px-4
            h1.mt-4 #{title}
            ol.breadcrumb.mb-4
                li.breadcrumb-item
                    a(href="index.html") Dashboard
                li.breadcrumb-item.active #{title}
            .card.mb-4
                .card-body
                    form.d-flex.align-items-center.justify-content-center(action="/dashboard/import-mails", method="POST", enctype="multipart/form-data")
                        .form-group
                            label(for="file") Choose CSV File 
                            input.form-control-file#file(type="file", name="file", accept=".csv", required)
                        button.btn.btn-primary(type="submit") Upload

            .card.mb-4
                .card-header
                    i.fas.fa-table.me-1
                    | Newly imported mails

                .card-body
                    table#datatablesSimple
                        thead
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tfoot
                            tr
                                th Name
                                th Position
                                th Office
                                th Age
                                th Start date
                                th Salary
                        tbody
                            tr
                                td Tiger Nixon
                                td System Architect
                                td Edinburgh
                                td 61
                                td 2011/04/25
                                td $320,800
