extends authenticationLayout
block content 
    main
        .container
            .row.justify-content-center
                .col-lg-5
                    .card.shadow-lg.border-0.rounded-lg.mt-5
                        .card-header
                            h3.text-center.font-weight-light.my-4 Login
                        .card-body
                            if (errorMessage)
                                .alert.alert-danger(role="alert").
                                    #{errorMessage}
                            if (successMessage)
                                .alert.alert-success(role="alert").
                                    #{successMessage}
  
                            form(method='post' action='/login')
                                .form-floating.mb-3
                                    input.form-control#inputEmail(type="email" placeholder="name@example.com" name='email')
                                    label(for="inputEmail") Email address
                                .form-floating.mb-3
                                    input.form-control#inputPassword(type="password" placeholder="Password" name='password')
                                    label(for="inputPassword") Password
                                .form-check.mb-3
                                    input.form-check-input#inputRememberPassword(type="checkbox")
                                    label.form-check-label(for="inputRememberPassword") Remember Password
                                .d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                    a.small(href="password.html") Forgot Password?
                                    button.btn.btn-primary(type='submit') Login
                        .card-footer.text-center.py-3
                            .small
                                a(href="/signup") Need an account? Sign up!
                                //- a(href="/signup") Request account creation