extends dashLayout 
block content
    .content
        .container-fluid
            .row
                .col-md-12
                    .card
                        .header
                            h4.title Striped Table with Hover
                            p.category Here is a subtitle for this table
                        .content.table-responsive.table-full-width
                            table.table.table-hover.table-striped
                                thead
                                    tr
                                        th email
                                        th Name
                                        th Request Type
                                        th Request Status
                                        th Action
                                tbody
                                    tr
                                        td john.benja@gmail.com
                                        td John Benja
                                        td Create Email
                                        td Pending
                                        td Create
                                    tr
                                        td 2
                                        td Minerva Hooper
                                        td $23,789
                                        td Curaçao
                                        td Sinaai-Waas
                                    tr
                                        td 3
                                        td Sage Rodriguez
                                        td $56,142
                                        td Netherlands
                                        td Baileux
                                    tr
                                        td 4
                                        td Philip Chaney
                                        td $38,735
                                        td Korea, South
                                        td Overland Park
                                    tr
                                        td 5
                                        td Doris Greene
                                        td $63,542
                                        td Malawi
                                        td Feldkirchen in Kärnten
                                    tr
                                        td 6
                                        td Mason Porter
                                        td $78,615
                                        td Chile
                                        td Gloucester
                .col-md-12
                    .card.card-plain
                        .header
                            h4.title Table on Plain Background
                            p.category Here is a subtitle for this table
                        .content.table-responsive.table-full-width
                            table.table.table-hover
                                thead
                                    tr
                                        th ID
                                        th Name
                                        th Salary
                                        th Country
                                        th City
                                tbody
                                    tr
                                        td 1
                                        td Dakota Rice
                                        td $36,738
                                        td Niger
                                        td Oud-Turnhout
                                    tr
                                        td 2
                                        td Minerva Hooper
                                        td $23,789
                                        td Curaçao
                                        td Sinaai-Waas
                                    tr
                                        td 3
                                        td Sage Rodriguez
                                        td $56,142
                                        td Netherlands
                                        td Baileux
                                    tr
                                        td 4
                                        td Philip Chaney
                                        td $38,735
                                        td Korea, South
                                        td Overland Park
                                    tr
                                        td 5
                                        td Doris Greene
                                        td $63,542
                                        td Malawi
                                        td Feldkirchen in Kärnten
                                    tr
                                        td 6
                                        td Mason Porter
                                        td $78,615
                                        td Chile
                                        td Gloucester