extends layout
block content
    .alert.alert-success.alert-dismissible.fade.show(role='alert')
        i.bi.bi-envelope
        | Your request has been sent to the administrator, someone will contact you.
        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
    <a type='submit' class="btn btn-primary btn-sm" href="/" role="button">Home</a>


    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js")